body{
    background-image: url(https://i.imgur.com/XN8RNDb.png);
    background-size: 100%;
    color: #f8f8ff;
    font-size: 150%;    
}
.box{
    height: 50%;
    width: 60%;
    background-color: #0a0a0a;
    padding: 5%;
    border: solid 5px #826982;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  xmp{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #1c1a1c;
    border: solid 5px #826982;
    border-radius: 25px;
    padding: 5%;

  }
h1{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 60%;
    height: auto;
    background-color: #1c1a1c;
    border: solid 5px #826982;
    border-radius: 25px;
}
mark{
  color: #f8f8ff;
  background-color: #a282a2;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
}
button{
  height: auto;
  width: auto;
  background-color: #0a0a0a;
  color: #f8f8ff;
  border: solid 2px #826982;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1%;
}
.grid-container{
  display: grid;
  grid-column: 50px 50px;
}
#cntrbuttn1{
  grid-column: 1;
  margin-left: 75%;
}
#cntrbuttn2{
  grid-column: 2;
  margin-right: 75%;
}
a:link { 
  text-decoration: none;
  color: #a282a2; 
}
a:visited { 
  text-decoration: none;
  color: #826982; 
}
a:hover { 
  text-decoration: none;
  color: #f8f8ff;
  transition-delay: none;
}
a:active { 
  text-decoration: none;
  color: #f8f8ff; 
}